# Miscellaneous
./bmi_calculator/*.class
./bmi_calculator/*.log
./bmi_calculator/*.pyc
./bmi_calculator/*.swp
./bmi_calculator/.DS_Store
./bmi_calculator/.atom/
./bmi_calculator/.buildlog/
./bmi_calculator/.history
./bmi_calculator/.svn/

# IntelliJ related
./bmi_calculator/*.iml
./bmi_calculator/*.ipr
./bmi_calculator/*.iws
./bmi_calculator/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
./bmi_calculator/**/doc/api/
./bmi_calculator/.dart_tool/
./bmi_calculator/.flutter-plugins
./bmi_calculator/.packages
./bmi_calculator/.pub-cache/
./bmi_calculator/.pub/
./bmi_calculator//build/

# Android related
./bmi_calculator/**/android/**/gradle-wrapper.jar
./bmi_calculator/**/android/.gradle
./bmi_calculator/**/android/captures/
./bmi_calculator/**/android/gradlew
./bmi_calculator/**/android/gradlew.bat
./bmi_calculator/**/android/local.properties
./bmi_calculator/**/android/**/GeneratedPluginRegistrant.java

# iOS/XCode related
./bmi_calculator/**/ios/**/*.mode1v3
./bmi_calculator/**/ios/**/*.mode2v3
./bmi_calculator/**/ios/**/*.moved-aside
./bmi_calculator/**/ios/**/*.pbxuser
./bmi_calculator/**/ios/**/*.perspectivev3
./bmi_calculator/**/ios/**/*sync/
./bmi_calculator/**/ios/**/.sconsign.dblite
./bmi_calculator/**/ios/**/.tags*
./bmi_calculator/**/ios/**/.vagrant/
./bmi_calculator/**/ios/**/DerivedData/
./bmi_calculator/**/ios/**/Icon?
./bmi_calculator/**/ios/**/Pods/
./bmi_calculator/**/ios/**/.symlinks/
./bmi_calculator/**/ios/**/profile
./bmi_calculator/**/ios/**/xcuserdata
./bmi_calculator/**/ios/.generated/
./bmi_calculator/**/ios/Flutter/App.framework
./bmi_calculator/**/ios/Flutter/Flutter.framework
./bmi_calculator/**/ios/Flutter/Generated.xcconfig
./bmi_calculator/**/ios/Flutter/app.flx
./bmi_calculator/**/ios/Flutter/app.zip
./bmi_calculator/**/ios/Flutter/flutter_assets/
./bmi_calculator/**/ios/Flutter/flutter_export_environment.sh
./bmi_calculator/**/ios/ServiceDefinitions.json
./bmi_calculator/**/ios/Runner/GeneratedPluginRegistrant.*
./bmi_calculator/
./bmi_calculator/# Exceptions to above rules.
./bmi_calculator/!**/ios/**/default.mode1v3
./bmi_calculator/!**/ios/**/default.mode2v3
./bmi_calculator/!**/ios/**/default.pbxuser
./bmi_calculator/!**/ios/**/default.perspectivev3
./bmi_calculator/!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
